.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
}

form {
    border: 2px solid #fff;
    border-radius: 10px;
    color: #fff;
    padding: 20px;
}

input {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.error {
    color: red;
}
button {
    background-color: rgb(51, 121, 201);
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 10px;
}
